div {
    text-align: center;
    .linkhome {
        text-decoration: none;
        color: black;
        display: inline-block;
        align-items: center;
        h1 {
            text-align: center;
            font-size: 50px;
            transition: 0.5s;
            &:hover {
                color: rgb(77, 77, 77);
                transition: 0.5s;
            }
        }
    }
}
