.titleCreate{
   text-align: center;
}
.inputForm{
    max-width: 400px;
    margin: 0 auto;
    .addTodo {
       max-width: 340px;
    }
    .createTodosButtn {
        margin-top: 5px;
        cursor: pointer;
        background: rgb(24, 144, 255);
        border: none;
        border-radius: 2px;
        height: 36px;
        color: white;
        transition: 0.3s;
        &:hover {
            background: rgb(86, 172, 253);
            transition: 0.3s;
        }
    }
    
}
